<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display a book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container-display">
        <div class="display-header">
            <h1>Welcome, {{request.session.logged_user}}</h1>
            <a href="/books">go back</a>
            <a id="logout" href="/logout">Log out</a>
        </div>
        <div class="error-report">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <span>
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                </span>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="main-displaybook">

            <div class="display-left">
               
                {% if request.session.user_id == this_book.uploaded_by.id %}
                <form action="/books/{{this_book.id}}/update" method='POST'>
                    {% csrf_token %}

                    <div class="input1 ">
                        <label for="title" name="title"></label>
                        <input class="edit-book" type="text" name="title" value="{{this_book.title}}">
                    </div>
                    <div class="inpout1">
                        <label for="desc" name="description">Description</label>
                        <input class="edit-book" type="text" name="desc" value="{{this_book.desc}}">
                    </div>
                    <div class="btn-input input2">
                        <input type="submit" value="Update">
                    </div>
                    <div>
                        <a href="/books/{{this_book.id}}/delete">delete</a>
                        <!-- <form action="/books/{{this_book.id}}/delete" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{this_book.id}}">
                        <input type="submit" value="delete"> -->
                        <!-- </form> -->

                    </div>

                </form>
                <p>{{this_book.title}}</p>
                <p>{{this_book.desc}}</p>

                {% else %}
                <p>{{this_book.title}}</p>
                <p>{{this_book.desc}}</p>
                {% endif %}

                <p>added by {{this_book.uploaded_by.first_name}}</p>
                <p>added on {{this_book.created_at}}</p>
                <p>Last updated on {{this_book.updated_at|date:'Y-m-d'}}</p>
            </div>
            <div class="display-right">
                <h2>user who like this book</h2>
                {% for user in this_book.users_who_like.all %}
                <ul>
                    {% if user.id == request.session.user_id %}
                    <li>{{user.first_name}} {{user.last_name}} <a href="/books/{{this_book.id}}/unfavor">Un-favorite</a>
                    </li>
                    {% else %}
                    <li>{{user.first_name}} {{user.last_name}}</li>
                    {% endif %}

                </ul>
                {% endfor %}
                {% if this_user not in this_book.users_who_like.all %}
                <p><a href="/books/{{this_book.id}}/add_favorite">add favorite</a></p>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>