<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container-welcome">
        <div class="welcome-header">
            <h1>Welcome {{this_user.first_name}}</h1>
            
            <a id="logout" href="/logout">Log out</a>


        </div>
        <div class="main-welcome">
            <div class="left-addbook">
                <div class="error-report">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <span>
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        </span>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="add-book">
                    <h2 class="h2-allfavorbook">Add a favorite book</h2>
                    <form action="/add_book" method='POST'>
                        {% csrf_token %}
                        <div class="input1">
                            <label for="title" class="l-title">Title</label>
                            <input type="text" name="title" class="l-content">
                        </div>
                        <div class="input1">
                            <label for="desc" class="l-title">Description</label>
                            <input type="text" name="desc" class="l-content">
                        </div>
                        <div class="btn-input input2">
                            <input type="submit" value="Add">
                        </div>
                    </form>


                </div>

            </div>
            <div class="all-books">
                <h2 class="h2-allbooks">All books</h2>
                {% for book in all_books %}
                <div class="each-book">

                    <p><a href="/books/{{book.id}}">{{book.title}}</a> added by {{book.uploaded_by.first_name}}</p>

                    {% if book not in this_user.liked_books.all %}
                    <p><a href="/books/{{book.id}}/add_favorite">Add to favorite</a></p>
                    {% else %}
                    <p>this book is one of your favorite</p>
                    {% endif %}
                </div>
                {% endfor %}


            </div>

        </div>
</body>

</html>