login-img {
    width:100%;
    height: auto;
    
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.container {
    padding: 20px;
    margin:110px auto;
    height:auto;
    width:40%;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* error report */
ul > span {
    color:red;
}

#signup {
    color:darkturquoise;

}

#welcome {
    color: blue;
}

.background {
    background-image: url("images/default.jpg");
    height:auto;
    background-repeat: repeat;
    background-size: cover;
    
}

.reg {
    height:100%;
}

#reg-container {
    background-color:white;
}
body, html {
    height: 100%;
  }

#signup-link:hover, #signup-link:active  {
    color: green;

}


    