<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Delete a course</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="container">
    <h1>Are you sure you want to delete the following course?</h1>
    <ul class="lst">
        <li>Name: {{this_course.name}}</li>
        <li>Description: {{this_course.description.desc}} </li>
    </ul>
    <form action="/courses/destroy/{{this_course.id}}" method='POST'>
        {% csrf_token %}
        <a href="/" class="no-link">No</a> 
        <input type="submit" class="btn btn-warning" value="Yes! I want to delete this.">
    </form>
    </div>
</body>
</html>