<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a show</title>
</head>
<body>
    <h1>Edit show {{show.id}}</h1>
    <form action="/shows/{{show.id}}/update" method = 'POST'>
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" value="{{show.title}}">
        <label for="network" >Network</label>
        <input type="text" name="network" value="{{show.network}}">
        <label for="release_date">Release Date</label>
        <input type="date" name="release_date" value="{{show.release_date|date:'Y-m-d'}}"> <!--TA Mark helped me out about the date style-->
        <label for="desc">Description</label>
        <input type="textarea" name="desc" value="{{show.desc}}">
        
        <input type="submit" value="update">

    </form>
    <a href="/shows/{{show.id}}">go to show</a>
    
</body>
</html>