.add {
    border-top: 1px solid black;
    text-align: center;
}

.container {
    background-color:grey;
    
}


.form {
    display:flex;
    justify-content: space-around; 
    
}
.form-control {
    width:25%;
}

