<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Author</title>
</head>
<body>
    <h1>{{f_name}}{{l_name}}</h1>
    <ul>
    <li>ID: {{author_id}}</li>
    <li>Notes: {{notes}}</li>
    <li>Books:
        <ul>
        
        {% for book in books %}
        <li>
        {{book.title}}
        {% endfor %}
        </li>
        </ul>
    </li>
    </ul>
    <div class="input-group mb-3 col-sm-8" >
        <form action="/authors/{{author_id}}/add_book_to_author" method="POST">
            {% csrf_token %}
        <select name="book_id"   class="form-select form-control" id="inputGroupSelect02">
            <option selected>Select a book...</option>
            {% for book in all_books.all %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select>
        <label class="input-group-text" for="inputGroupSelect02">Options</label>
        <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>