<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    /> -->
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style1.css' %}"> 
  </head>
  <body>
    <div class="container">
      <div id="top-half">
        <div class="dojo">
          <h1 class="h1-head">Add a Dojo</h1>
          <form action="/create_dojo" method="POST">
            {% csrf_token %}
            <div class="input1">
              <label for="name" class="title">Name</label>
              <input type="text" name="name" class="content" />
            </div>
            <div class="input1">
              <label for="city" class="title">City</label>
              <input type="text" name="city" class= "content"/>
            </div>
            <div class="input1">
              <label for="state" class="title">State</label>
              <input type="text" name="state" class="content" />
            </div>
            <div class="input2 btn-input">
            <button class="btn btn-primary ">Add</button>
            </div>
          </form>
          </div>
          
        

        <div class="ninja">
          <h1 class="h1-head">Add a Ninja</h1>
          {% if all_dojo %}
          <form action="/create_ninja" method="POST">
            {% csrf_token %}
            <div class="input1">
              <label for="f_name" class="title">First Name</label>
              <input type="text" name="f_name" class="content" />
            </div>
            
            <div class="input1">
              <label for="l_name" class="title">Last Name</label>
              <input type="text" name="l_name" class="content" />
            </div>
            <div class="input1">
              <label for="dojo" class="title">Dojo</label>
              
                <select
                  name="dojo"
                  class="content"
                  id="for-select"
                >
                  <option selected>Select a Dojo...</option>
                  {% for dojo in all_dojo.all %}

                  <option value="{{dojo.id}}">{{dojo.name}}</option>
                  {% endfor %}
                </select>
                
              
            </div>
            <div class="btn-input input2">
            <button class="btn-primary ">Add</button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="bot-div">
        <h1 class="bot_h1">All the Dojos</h1>

        {% for dojo in all_dojo %}
        <!-- move the form within the for loop here, so that each dojo record has its own id key-value pair saved. If the form is outside of this for loop, the delete method only memorize the latest record and won't delete the desired record. Arpil 30, 2021 -->
        <form action="/delete" method="POST" id="dojo_form">
          {% csrf_token %}
          <ul>
            <input type="hidden" name="dojo_id_todelete" value="{{dojo.id}}" />
            <span id="bold_dojo">Ninjas at {{dojo.name}} - {{dojo.ninjas.count}}</span><button type="submit" class="btn btn-warning">delete</button>
            <ul class="ul-list">
              {% for ninja in dojo.ninjas.all %}
              <li>{{ninja.first_name}} {{ninja.last_name}}</li>
              {% endfor %}
            </ul>
          </ul>
        </form>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
