#top-half {
    display:flex;
    align-items: center;
    justify-content:space-evenly
}
.container {
    background-color: cornflowerblue;
    height:900px;
    padding:10px;
}

.bot_h1 {
    text-align: center;
    border-top: 1px solid black;
    margin-top:30px;
    padding:10px;
}
#bold_dojo {
    font-weight:bold;
}
.bot-div {
    text-align:center;
    display:block;

}
.bot-div ul {
    align-items: center;
    text-align: center;
}


#dojo_form {
    text-align: center;
}

#dojo_form ul {
    align-items: center;
}

.dojo > h1 {
    margin-bottom: 10px;
}

.ul-list  {
    text-align: center;
    list-style-position: inside;
}

#bold_dojo {
    margin-right:10px;
}