#top-half {
    display:flex;
    align-items: center;
    justify-content:space-evenly
}
.container {
    background-color: cornflowerblue;
    height:900px;
    padding:10px;
}

.bot_h1 {
    text-align: center;
    border-top: 2px solid black;
}
#bold_dojo {
    font-weight:bold;
}
.bot-div {
    text-align:center;
    display:block;
}

#dojo_form {
    text-align: center;
}